<configuration>
	<system.webServer>
		<handlers>
			<add name="iisnode" path="server.js" verb="*" modules="iisnode" />
		</handlers>
		<rewrite>
			<rules>
				<rule name="nodeserver">
					<match url="/*" />
					<action type="Rewrite" url="server.js" />
				</rule>
			</rules>
		</rewrite>
		<security>
			<requestFiltering>
				<hiddenSegments>
					<add segment="node_modules" />
					<add segment="bower_components" />
				</hiddenSegments>
			</requestFiltering>
		</security>
	</system.webServer>
	<appSettings>
		<add key="NODE_ENV" value="production" />
	</appSettings>
</configuration>